#external-styling {
	color: orange !important;
}

* {
	font-family: Tahoma; font-size: 18px;
}

h1 {
	font-size: 35px;
}

#things-you-will-learn {
	text-transform: uppercase;
}

.languages-to-learn {
	background-color: lightskyblue;
}

.tools-to-use {
	border: 1px solid black;
}

img + ul {
	list-style-type: circle;
}
section img {
	height: 100px;
	width: 100px;
	border-radius: 20px;
}

ul+p {
	text-align: center;
}

body > section > ul {
	letter-spacing: 10px;
	}
